html,
body {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Trebuchet MS"!important;
    background: url(../IMAGES/wallpapers/redStripes.jpg) center center;
    background-size: cover;
    background-color: #f4f3f3;
    /*
    -webkit-box-shadow: inset 0px 0px 128px 16px rgba(179, 179, 179, 1);
    -moz-box-shadow: inset 0px 0px 128px 16px rgba(179, 179, 179, 1);
    box-shadow: inset 0px 0px 128px 16px rgba(179, 179, 179, 1);
*/
}

main {
    flex: 1 0 auto;
}

#header {
    /*    background: url(../IMAGES/wallpapers/3dRedCubes.svg) center center;*/
    margin: 10px .8em 0;
}

#header img {
    margin-top: 5px;
}

#header h1 {
    font-size: 2rem;
    font-weight: 100!important;
}

#header h5 {
    font-size: 1.2rem;
    font-weight: 100!important;
    color: black;
}

#intro {
    padding: 10px 20px 10px 10px;
    margin: 0 auto 10px;
    background-image: url(../IMAGES/wallpapers/intro.jpg);
    margin-left: .8em;
    margin-right: .8em;
}

#intro p span {
    font-size: 2rem;
    text-align: center;
}

#intro p {
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 300;
    color: #333;
}

h4 {
    /*    color: white!important;*/
    padding: 5px;
    border-radius: 4px;
}

#concursos {
    padding-right: 0;
}

#concursos .card {
    min-height: 500px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0);
}

#concursos .card:hover {
    border: 1px solid rgba(255, 0, 0, .2);
}

.unimed {
    border: 1px solid #C7D5B7;
    padding: 5px;
    background: -webkit-linear-gradient(rgba(209, 247, 223, 1), white 25%, white);
    background: -moz-linear-gradient(rgba(209, 247, 223, 1), white 25%, white);
    background: -ms-linear-gradient(rgba(209, 247, 223, 1), white 25%, white);
    background: -o-linear-gradient(rgba(209, 247, 223, 1), white 25%, white);
    background: linear-gradient(rgba(209, 247, 223, 1), white 25%, white);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 15px;
}

.unimed:hover {
    border: 1px solid #A1B58A;
}

.unimed h6 {
    font-weight: 600;
}

.unimed h6,
.unimed p {
    color: #009859!important;
}

.unimed p {
    margin-bottom: 5px!important;
}

.unimed .divider {
    background: #009859;
    margin-bottom: 5px;
}

.promo {
    width: 100%;
}

.promo-content {
    overflow: hidden;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.promo i {
    margin: 5px 0;
    font-size: 4.5rem;
    display: block;
    color: #ff5d5d;
}

.promo a {
    margin-bottom: 5px;
}

.promo-caption {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 20px!important;
    color: #ff5d5d!important;
    /*    background-color: #ff4141;*/
    border-radius: 10px;
}

.promo-caption-desc {
    font-size: 1.2rem;
    text-align: justify!important;
}

#firstDivider,
#secondDivider {
    height: 4px;
}

#tProgresso .card {
    min-height: 500px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0);
}

#tProgresso .card:hover {
    border: 1px solid rgba(255, 0, 0, .2);
}

#tProgresso a {
    margin-top: 25px;
}

#extras{
    margin-right: 30px;
}

.chip {
    height: 42px;
    font-size: 20px;
    line-height: 42px;
    padding: 0 22px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.modal h4 {
    background-color: #d73935;
    color: white!important;
    padding: 5px;
}

.modal ul li {
    margin-bottom: .3em;
}

.divider {
    margin-bottom: 2em;
}

#testeProgresso p {
    text-align: justify;
    font-size: 1.2rem;
    line-height: normal;
}

#privacidade {
    color: #F61111;
}

#disclaimer {
    font-size: 1.4rem;
}

#disclaimer:before {
    content: '';
    margin-right: 5px;
    border-left: 2px solid red;
}

#disclaimer:after {
    content: '';
    margin-left: 5px;
    border-right: 2px solid red;
}

#adjust {
    display: inline-block;
    background-color: rgba(255, 255, 255, .8);
    margin-top: .3rem;
    margin-right: .2rem;
}

.page-footer {
    padding: 0;
}

.page-footer .row {
    margin-bottom: 0px;
}

.page-footer .footer-copyright {
    min-height: 25px;
}
