@media (max-width: 600px) {
    html,
    body {
        overflow-x: hidden;
    }
    #intro p span{
        font-size: 1rem;
    }
    #intro p{
        font-size: .8rem;
    }
    #mainContent .card {
        width: 95vw!important;
    }
    #testeProgresso blockquote p{
        font-size: 1rem;
    }
    .concursos{
        width: 100%;
    }
    #disclaimer{
        font-size: 1.2rem;
    }
}

@media (min-width: 600px) and (max-width: 992px){
    #header h5{
        font-size: .85rem;
    }
    #intro p span{
        font-size: 1.5rem;
    }
    #intro p{
        font-size: 1rem;
    }
    #testeProgresso blockquote p{
        font-size: 1.1rem;
    }
}
