/* CSS Document */
body {
/*	background:#ffffff url(images/back.png) repeat-x top left; bkp*/
	background: #FFFFFF url(images/back2.png) repeat-x top left;
	margin:0;
	color:#333333;
	font:x-small Georgia Serif;
	font-size: small;
	text-align: center;
	color:#CCCCCC
}
.intro {
	width: 430px;	
/*	margin:auto; */
	font-family: "Trebuchet MS";
	font-size: 12pt;
	color:#666666;
	text-align:justify;
/*	border: #666666 outset;	*/
/*	padding: 10px;	*/
	padding-left: 50px;
	padding-right: 50px;
}
#first_letter {
	font-size : 200%;
	font-weight : bold;
	float : left;
	width : 1em;
	color: #000000;
/*	color : #c00;	bkp*/
}
a:link {
/*  color:#003366; bkp*/
/*	color:#000000; 	ALTERADO EM 08/08/2013 PARA O SITE DO TP */
/*	text-decoration:none;	*/
	text-decoration:underline;
}
a:visited {
/*	color:#0066CC; bkp*/
	color:#000000;
	text-decoration:none;
}
a:hover {
/*	color:#191919;  bkp*/
/*	color:#333333; meu*/
/*	color:#FFFFFF;	*/
	color:#0000FF;	
}
a.link_titulo {
	color:#FFFFFF;
}
a.link_titulo:hover {
	color: #CCCCCC;
	text-decoration:underline;
}

a.link-einstein:hover{
/*	color:#191919; original */
/*	color: #738c7d;	Marcos*/
	color:#005a9c;
	text-decoration:underline;
}
a.link_verde:hover {
/*	color:#191919; original */
/*	color: #738c7d;	Marcos*/
	color:#006600;
	text-decoration:underline;
}
a.link_verde2:hover {
	color:#5ba58a;
	text-decoration:underline;
}
a.link_verde3:hover {
	color:#00B900;	
	text-decoration:underline;
}
a.link_verde4:hover {
	color:#519276;	
	text-decoration:underline;
}
a.link_verde5:hover {
	color:#54aa13;	
	text-decoration:underline;
}
a.link_azul2:hover {
	color: #033773;
	text-decoration:underline;
}
a.link_azul3:hover {
	color: #a3bfc7;
	text-decoration:underline;
}
a.link_vermelho:hover {
	color:#FF0000;
	text-decoration:underline;
}
a.link_laranja:hover {
	color:#FF8000;
	text-decoration:underline;
}
a.link_amarelo:hover {
	color:#d9d73e;
	text-decoration:underline;
}
a.link_marrom:hover {
/*	color:#191919; original */
	color: #e7bd7c;
	text-decoration:underline;
}
a.link_cinza:hover {
/*	color:#191919; original */
/*	color: #5e98b4;	Marcos*/
	color:#8c8c8c;
	text-decoration:underline;
}
a.link_azul_sidebar:hover {
	color:#0000FF;
	text-decoration:underline;
}

a img {
	border-width:0;
}
/* -----Header----- */
#conteudo_header {
	width: 100%;
	height: 143px;
/*	background: url(images/h1.png) no-repeat bottom center;	bkp*/
	background:url(images/banner.png) no-repeat;
	margin: 0 auto 0px;
}
#header {
	width: 990px;
	margin: 0px auto;
/*	color:#ffffff;	original*/
	color: #000000;
}
#header h1 {
	margin: 0 auto;
/*	padding:40px 0 0 0;	bkp*/
	padding: 85px 0 0 0;
	line-height:1.2em;
	letter-spacing:.2em;
/*	font: normal normal 293% Arial, sans-serif;	bkp*/
	font: 220% Arial, sans-serif;
/*	text-align:center;	bkp*/
	text-align:right;
	letter-spacing: 0px;
}
#header a {
	color:#ffffff;
	text-decoration:none;
}
#header a:hover {
	color:#ffffff;
}
#header .description {
	margin:0 auto;
	padding:10px 0 0 0;
	max-width:600px;
	text-transform:uppercase;
	letter-spacing:.2em;
	line-height: 1.4em;
	font: normal normal 78% Arial, sans-serif;
/*	color: #e6e6e6;	bkp*/
	color:#333333;
	text-align:center;
}
#navigation {
	height:30px;	
	width: 1000px;
	line-height:2.6em;
/*	margin:0px auto 35px;	*/
	margin:0px auto 15px;
	_margin:0px auto 15px;
	background:url(images/back_navigation.png) repeat-x top left;

	padding: 7px 0 0 0;
	text-align:center;
	font: Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
/*	font-weight: bold;
	font-size:0.9em;*/
	text-transform:uppercase;
/*	background-color:inherit;	bkp*/
	color: #000000;
	letter-spacing: 4px;
}
#navigation ul {
	margin: 0px 0 0 0px;
	padding:0px;
}
#navigation li {
	float:left;
	list-style-type:none;
	white-space:nowrap;
}
#navigation li a {
	display:block;
	padding:4px 25px 0px 25px;
	font-size:0.9em;
	font-weight:normal;
	text-transform:uppercase;
	text-decoration:none;
	background-color:inherit;
	color: #000000;
	border-right:1px solid #efeeee;
	border-left:1px solid transparent;
}
#navigation .selected,#navigation a:hover {
	background: url(images/menu-hover.png) repeat-x;
	color:#000000;
	border-left: 1px solid #a5a5a5;
	border-right: 1px solid #a5a5a5;
	text-decoration:none;
}
body#layout #navigation {
	padding-bottom: 50px
}
/* -----Geral----- */
#geral {
	width: 1000px;
	background-color: #FFFFFF;
	margin: 0 auto;
	padding: 0px;
	text-align: left;
	font: normal normal 100% Arial, sans-serif;
}
#coluna_central {
/*	width: 540px;	bkp*/
	width: 400px;
/*	margin-left: 10px;	bkp*/
	margin-left: 20px;
	_margin-left: 5px;
	float: left;
/*	word-wrap: break-word;	bkp*/
	overflow: hidden;
}
#coluna_esquerda {
/*	width: 220px;	bkp*/
	width: 250px;
	float: left;
	margin-left: 30px;	

	word-wrap: break-word;
	overflow: hidden;
}
#coluna_direita {
/*	width: 220px;	bkp*/
	width: 250px;
	float: right;
	margin-right: 30px;	
	word-wrap: break-word;
	overflow: hidden;
}
/* -----Headings----- */
h2 {
	margin: 1.5em 0 .75em;
	font: normal normal 78% Verdana, sans-serif;
	line-height: 1.4em;
	letter-spacing: .2em;
	color: #999999;	
}
/* -----Destaques----- */
.destaque {
	width: 300px;
	margin: 0 auto 30px;
/*	margin: 0 0 14px;	bkp*/
	padding: 0.6em 1.0em;
	border:1px solid #DEDBD1;
}
#noticia_verde {
	background: #fff url(images/destaque-color-green.png) repeat-x;
}
#noticia_verde2 {
	background: #fff url(images/destaque-color-green2.png) repeat-x;
}

#noticia_verde3 {
	background: #fff url(images/destaque-color-green3.png) repeat-x;
}
#noticia_verde4 {
	background: #fff url(images/destaque-color-green4.png) repeat-x;
}
#noticia_verde5 {
	background: #fff url(images/destaque-color-green5.png) repeat-x;
}


#noticia_azul2 {
	background: #fff url(images/destaque-color-blue2.png) repeat-x;
}

#noticia_azul3 {
	background: #fff url(images/destaque-color-blue3.png) repeat-x;
}

#noticia-einstein {
	background: #fff url(images/destaque-color-einstein.png) repeat-x;
}

#noticia_vermelho {
	background: #fff url(images/destaque-color-red2.png) repeat-x;
}
#noticia_marrom {
	background: #fff url(images/destaque-color-brown.png) repeat-x;
}
#noticia_cinza {
	background: #fff url(images/destaque-color-gray.png) repeat-x;
}
.title_centro {
/*	margin: 0;	*/
/*	padding: 10px 0px 0px 0px;	bkp*/
	padding: 5px 0px 0px 0px;
	height: 32px;
/*	color: #fff;	*/
	color:#000000;
	font-size: 115%;
	letter-spacing: 0px;
/*	background: url(images/menu_titulo.png) no-repeat;	*/
	text-align:center;
	text-transform: uppercase;
	border-top: #999999 solid 8px;
	width: 330px;
	margin:auto;
	letter-spacing: 2px;
	font-weight:bold;
}
.destaque h3 {
/*	margin: 0 0;	*/
	margin: 13px 0;
	padding: 0 0 6px 5px;
	font-size: 140%;
	font-weight: normal;
	line-height: 1.4em;
	color: #191919;
}
#noticia_linha_verde {
	background: url(images/destaque-line-green.png) no-repeat bottom left;	
}
#noticia_linha_verde2 {
	background: url(images/destaque-line-green2.png) no-repeat bottom left;
}

#noticia_linha_verde3 {
	background: url(images/destaque-line-green3.png) no-repeat bottom left;
}
#noticia_linha_verde4 {
	background: url(images/destaque-line-green4.png) no-repeat bottom left;
}
#noticia_linha_verde5 {
	background: url(images/destaque-line-green5.png) no-repeat bottom left;
}

#noticia-linha-einstein {
	background: url(images/destaque-line-einstein.png) no-repeat bottom left;
}

#noticia_linha_azul2 {
	background: url(images/destaque-line-blue2.png) no-repeat bottom left;
}

#noticia_linha_azul3 {
	background: url(images/destaque-line-blue3.png) no-repeat bottom left;
}

#noticia_linha_vermelho {
	background: url(images/destaque-line-red.png) no-repeat bottom left;	
}
#noticia_linha_marrom {
	background: url(images/destaque-line-brown.png) no-repeat bottom left;	
}
#noticia_linha_cinza {
	background: url(images/destaque-line-gray.png) no-repeat bottom left;	
}
.destaque_body {
	margin: 0 0 0;
	line-height: 1.6em;
	padding: 0px 10px;
	text-align: justify;
	color:#000000;
}
/* -----Sidebar Content----- */
.sidebar {
	color: #333333;
	line-height: 1.5em;
}
.title {
/*	margin: 0;	*/
/*	padding: 10px 0px 0px 0px;	bkp*/
	padding: 5px 0px 0px 0px;
	height: 32px;
/*	color: #fff;	*/
	color:#000000;
	font-size: 115%;
	letter-spacing: 0px;
/*	background: url(images/menu_titulo.png) no-repeat;	*/
	text-align:center;
	text-transform: uppercase;
	border-top: #999999 solid 8px;
	letter-spacing: 2px;
	font-weight:bold;
}

.sidebar h2 {
	margin: 0;
	padding: 8px 0px 0px 14px;
	height: 32px;
	color: #fff;
	font-size: 130%;
	letter-spacing: 0px;
	background: url(images/menu_titulo.png) no-repeat;
}
.sidebar ul {
	list-style: none;
	margin: 0 0 0;
	padding: 0 0 0;
}
.sidebar li {
	margin: 0;
	line-height: 1.5em;
/*	background: transparent url() no-repeat left center; bkp	*/
	padding: 3px 0 5px 15px;
	text-indent: 0px;
/*	list-style-image:url(images/marcador.png);	*/
}
.sidebar .conteudo_box {
	margin: -6px 0 0 2px;
/*	width: 205px;	bkp*/
	width: 235px;
	padding: 5px;
/*	background: #fff url(images/conteudo_box.png) repeat-x top left;	*/
	background: #fafafa;	
	border: 1px solid #d3d3d3;
}
/* -----Footer----- */
#footer {
	width:100%;
	clear:both;
	margin:0 auto;
	padding:15px 5px 15px 5px;
	line-height: 1.5em;
	letter-spacing:0em;
	text-align: center;
}
#credit {
	width:100%;
	background: url(images/credit.png) repeat-x bottom left;
	height:35px;
}
#credit p {
	margin:0 auto;
	padding:10px 0 0 5px;
	width: 1040px;
	text-align: center;
	color:#fff;
	font: 18px bold;
}

